<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type ="text/css" href="../layout/index.css">
    <title>Cookpod form</title>
  </head>
  <body>
    <div class="github-repo">
      <a href="https://github.com/kimikomotoyama/api-solo-project">Cookpod Github repository</a>
    </div>

    <div class="introduction">
      Welcome to Cookpod!<br /><br />

      This is an API where you can create, update, delete, and list all the recipes you want in your own database. 
      Keeping your favorite recipe notebook can be annoying, so this is where you can log all of your favorite
      recipes.
    </div>

    <div>API</div>
    <p>You can get the following data:</p>
    <div>Recipes</div>
    <ul>
      <li>title (string)</li>
      <li>servingSize(string)</li>
      <li>prepareTime(string)</li>
      <li>ingredients(json)</li>
    </ul>
  </body>
</html>